body{
    background-color: rgb(50, 50, 50);
    font-family: "Roboto";
    color:white;
}
input{
    width: 12.5vmin;
    height: 2.5vmin;
    display: inline-block;
}
label{
    font-size: 2vmin;
}
#email-wrapper{
    margin: 10% 0 0 29%;
}
#password-wrapper{
    margin: 10% 0 10% 29%;
}
#loginButton{
    margin: 10% 0 0 33%;
    width: 10vmin;
    height: 5vmin;
    font-size: 2vmin;
}
#register{
    margin-top: 15%;
    margin-left: 30%;
    font-size: 2vmin;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#login-wrapper{
    position: absolute;
    border: 0.25vmin solid black;
    border-radius: 0.5vmin;
    background-color: rgb(100, 100, 100);
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 30vmin;
    height: 35vmin;
}